{% extends 'base.html' %}

{% block title %}
Edit Event
{% endblock %}

{% block content %}
<div class="container"
     style="margin-top: 60px; max-width: 500px; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; padding: 30px; border-radius: 15px; position:relative;">

    <button type="button" class="close"
            onclick="window.location.href='{% url 'home' %}'"
            aria-label="Close"
            style="position: absolute; top: 10px; right: 15px; font-size: 1.5rem; background: none; border: none;">
        <span aria-hidden="true">&times;</span>
    </button>


    <h1 style="text-align:center;">Event</h1>


    <form method="post" enctype="multipart/form-data" style="overflow-y: scroll; max-height: calc(100vh - 300px); ">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label" for="title">Title: </label>
            <input type="text" class="form-control" name="title" value="{{ event.title }}" id="title"
                   placeholder="Title" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="start_time">Start Time: </label>
            <input type="datetime-local" class="form-control" name="start_time" value="{{ event.start_time|date:'Y-m-d\\TH:i' }}" id="start_time"
                   placeholder="Start Time" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="end_time">End Time: </label>
            <input type="datetime-local" class="form-control" name="end_time" value="{{ event.end_time|date:'Y-m-d\\TH:i' }}" id="end_time"
                   placeholder="End Time" required>
        </div>

        <!--location-->
        <div class="mb-3">
            <label class="form-label" for="location">Location: </label>
            <input type="text" class="form-control" name="location" value="{{ event.location }}" id="location"
                   placeholder="Location" required>
        </div>

        <!--staus-->
        <div class="mb-3">
            <label class="form-label" for="status">Status: </label>

            <select name="status" id="status" class="form-select" aria-label="Default select example" required>
                <option value="" {% if not event.status %}selected{% endif %}>Select current status</option>

                <option value="upcoming" {% if event.status == 'upcoming' %}selected{% endif %}>Upcoming</option>
                <option value="ongoing" {% if event.status == 'ongoing' %}selected{% endif %}>Ongoing</option>
                <option value="finished" {% if event.status == 'finished' %}selected{% endif %}>Finished</option>
                <option value="cancelled" {% if event.status == 'cancelled' %}selected{% endif %}>Cancelled</option>
            </select>
        </div>

        <!--cover_pic-->
        <div class="mb-3">
            <label class="form-label" for="cover_pic">Cover Pic: </label>
            <input type="file" class="form-control" name="cover_pic" id="cover_pic" accept="image/*">
        </div>

        <!--schedule-->
        <div class="mb-3">
            <label class="form-label" for="schedule">Schedule: (optional)</label>
            <input type="file" class="form-control" name="schedule" id="schedule" accept="image/*">
        </div>


        <div class="mb-3">
            <label class="form-label" for="description">Description: </label>
            <textarea class="form-control" name="description" id="description" placeholder="Description" rows="5"
                      style="resize: vertical; overflow: hidden;" required>{{ event.description }}</textarea>
        </div>

        <button type="submit">Upload</button>
    </form>

</div>
{% endblock %}