{% extends 'base.html' %}

{% block title %}
{{ thesis.title }}
{% endblock %}

{% block content %}
<div class="container mt-4 rounded">
    <a href="javascript:window.history.back() || '{% url 'home' %}'">Go back</a>
    <div class="row rounded" style="height: calc(100vh - 150px);">

        <!-- Left Sidebar: Opinions -->
        <div class="col-md-3 p-2">
            <div class="card h-100">
                <div class="card-body">
                    <!-- Collaborators Section -->
                    <div class="mb-4 rounded">
                        <ul class="list-group">
                            <li class="list-group-item active" data-bs-toggle="collapse" href="#collaboratorsList"
                                role="button" aria-expanded="true" aria-controls="collaboratorsList">
                                Collaborators
                            </li>
                        </ul>

                        <div class="collapse show rounded" id="collaboratorsList"
                             style="max-height: 200px; overflow-y: auto; padding-bottom: 10px;">
                            <ul class="list-group mt-2">
                                <li class="list-group-item active" data-bs-toggle="collapse"><p>Organizer: {{thesis.organizer.user.username}}</p></li>
                                {% for col in collaborators %}
                                <li class="list-group-item active" data-bs-toggle="collapse"><p>Collaborator: {{col.user.username}}</p></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- Opinion input -->
                    <form method="post" action="{% url 'post:view_thesis' thesis.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="opinion">
                        <div class="mb-3">
                            <label for="opinion" class="form-label">Wanna say something?: </label>
                            <input type="text" class="form-control" name="opinion" id="opinion" placeholder="Opinion"
                                   required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Opinion</button>
                    </form>

                    <!-- Opinions list -->
                    {% include 'post/opinions_list.html' %}
                </div>
            </div>
        </div>

        <!-- Main Content: Thesis Details -->
        <div class="col-md-6 p-2" style="max-height: calc(100vh - 150px);">
            <div class="card mb-3 shadow-sm" style="height: 100%;">
                {% if thesis.cover_pic %}
                <img src="{{ thesis.cover_pic.url }}" class="card-img-top" style="max-height: 35em; object-fit: cover;"
                     alt="Cover image">
                {% endif %}
                <div class="card-body" style="overflow-y: scroll;  overflow-y: auto;">
                    {% if collaborator is None and collaborator.role != 'organizer' %}
                    <div class="pe-3">
                        <a href="{% url 'collaboration:join_request' thesis.organizer.id %}" class="btn btn-primary mt-2">Collab in this thesis</a>
                    </div>
                    {% endif %}
                    <h5 class="card-title">{{ thesis.title }}</h5>
                    <p class="text-muted"><i>By: {{ thesis.organizer.user.username }}</i></p>
                    <p class="text-black">Posted: {{ thesis.created_at|date:"M d, Y H:i" }} | Start Date: {{ thesis.start_date|date:"M d, Y" }} | End Date: {{ thesis.end_date|date:"M d, Y" }}</p>
                    <p class="text-black">Researching: {{ thesis.research_topic }} in {{ thesis.research_field }}</p>
                    <p class="text-black">Status: {{ thesis.status }}</p>
                    <hr>
                    <p class="text-black">Description:</p>
                    <p class="card-text">{{ thesis.description }}</p>
                </div>
            </div>
        </div>

        <!-- Right Sidebar: Add Resource -->
        <div class="col-md-3 p-2">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center">

                        {% include 'collaboration/add_resource.html' %}

                        <div class="container" style="max-height: calc(100vh - 290px); overflow-y: auto;">
                            <h3 class="text-center mt-3">Allocate Resources</h3>

                            <ul class="list-group d-flex flex-wrap"
                                style="flex-direction: row; justify-content: space-evenly; align-items: center;">

                                <!-- Start list loop -->
                                {% for r in resources %}
                                <li class="list-group-item rounded w-100"
                                    style="height: 100px; margin: 10px 0; border: 1px solid #ddd;">
                                    <div class="d-flex flex-column justify-content-between h-100">
                                        <p class="d-flex justify-content-between">
                                            <span class="text-truncate">{{ r.name }}</span>
                                            <span>{{ r.amount }}</span>
                                        </p>
                                        <div class="mt-auto">
                                            <a class="btn btn-primary btn-sm w-100 mb-1" href="{% url 'collaboration:view_resource' r.pk %}?model=project&object_id={{ project.id }}">View</a>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                                <!-- End list loop -->
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
