{% extends 'base.html' %}

{% block title %}
Request Review
{% endblock %}

{% block content %}
<div class="container"
     style="margin-top: 60px; max-width: 500px; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; padding: 30px; border-radius: 15px; position:relative;">

    <button type="button" class="close"
            onclick="window.location.href='{% url 'home' %}'"
            aria-label="Close"
            style="position: absolute; top: 10px; right: 15px; font-size: 1.5rem; background: none; border: none;">
        <span aria-hidden="true">&times;</span>
    </button>


    <h1 style="text-align:center;">Request Review</h1>

    {% if join_request.approve_status == 'not approved' %}
    <div class="mb-3">
        <p>Request to join {{ join_request.organizer.post.title }}</p>
    </div>

    <form method="post" enctype="multipart/form-data" style="overflow-y: scroll; max-height: calc(100vh - 300px); ">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label" for="status">Status: </label>

            <select name="status" id="status" class="form-select" aria-label="Default select example" required>
                <option value="" selected>Select status</option>
                <option value="not approved">Not approved</option>
                <option value="approved">Approved</option>
            </select>
        </div>

        <button type="submit">Collab</button>
    </form>

    {% else %}
    <div class="mb-3">
        <p>You have reviewed this request.</p>
    </div>
    <div class="mb-3">
        <a href="{% url 'home' %}" class="btn btn-primary">Go to home</a>
    </div>
    {% endif %}

</div>
{% endblock %}
