<nav class="container navbar navbar-expand-lg bg-body-tertiary"
     style="box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; border-radius: 5px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">UniColabHub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'user:user_profile'%}">
                        {% if user.collabuser.profile_pic %}
                            <img src="{{ user.collabuser.profile_pic.url }}" alt="Profile Picture" class="rounded-circle" width="30" height="30" style="cursor: pointer; object-fit: cover;">
                        {% else %}
                            <img src="https://api.dicebear.com/9.x/adventurer-neutral/svg?seed=Oliver" alt="No Profile Picture" class="rounded-circle" width="30" height="30" style="cursor: pointer; object-fit: cover;">
                        {% endif %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>

                {% endif%}
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li class="nav-item p-2">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Create
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{% url 'post:create_event' %}">Event</a></li>
                        <li><a class="dropdown-item" href="{% url 'post:create_project' %}">Project</a></li>
                        <li><a class="dropdown-item" href="{% url 'post:create_thesis' %}">Thesis</a></li>
                      </ul>
                    </div>
                </li>
                <li class="nav-item p-2">
                    <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                            Notifications
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              {% for notification in notifications %}
                            <li><a class="dropdown-item" href="{% url 'collaboration:review_request' notification.id %}">{{ notification.message }}</a></li>
                              {% endfor %}
                          </ul>
                    </div>
                </li>




                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:logout_user' %}">Logout</a>
                </li>
                {% endif%}

                {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
